# Use PSRAM and external allocations
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y

CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=512
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

# Network stacks
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_ESP_MATTER_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y

# OpenThread allocations in PSRAM
CONFIG_OPENTHREAD_PLATFORM_MALLOC_CAP_SPIRAM=y
CONFIG_OPENTHREAD_PLATFORM_MSGPOOL_MANAGEMENT=y

# Disable Groupcast cluster until verified
CONFIG_SUPPORT_GROUPCAST_CLUSTER=n